p{color: red; font-size: 24px;}
h1{color: blue;font-size: 6em;}

#id2{
    color: rgb(112, 165, 42); font: size 20px; ;
}

.pink{
    color: rgb(189, 75, 94);
    font-weight: 800;
}


p.pink1{
    color: yellow;
    font-weight: 800;
}